/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*-----------------------------------*\
  #CUSTOM PROPERTIES
\*-----------------------------------*/

:root {
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --smoky-black: hsl(0, 0%, 7%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);

  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);

  --ff-poppins: "Poppins", sans-serif;
  --fs-1: 24px;
  --fs-2: 22px;
  --fs-3: 20px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;
  --fs-8: 13px;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}

/*-----------------------------------*\
  #BASE
\*-----------------------------------*/

body {
  background: var(--smoky-black);
  color: var(--white-2);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
}

/*-----------------------------------*\
  #MAIN LAYOUT (Original Desktop)
\*-----------------------------------*/

.main {
  display: grid;
  grid-template-columns: 308px 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

/*===================================
        SIDEBAR (Original Desktop)
===================================*/

.sidebar {
  position: sticky;
  top: 30px;
  align-self: start;
  border: 1px solid var(--jet);
  height: max-content;
  background: var(--eerie-black-2);
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  border-radius: 20px;
  padding: 30px;
  box-shadow: var(--shadow-2);
}

/*===================================
        BUTTON (Original Desktop)
===================================*/

.info-more-btn {
  margin: 0px;
  background: transparent;
  border: 1px solid var(--orange-yellow-crayola);
  color: var(--orange-yellow-crayola);
  padding: 12px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

.info-more-btn:hover {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

/*===================================
        TOP SECTION (Original Desktop)
===================================*/

.sidebar-top-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  text-align: center;
}

.avatar-box {
  width: 140px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--bg-gradient-onyx);
  margin: 0;
  margin-bottom: 20px;
}

.avatar-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.4s;
}

.avatar-box:hover img {
  transform: scale(1.05);
}

.display-content {
  margin: 0;
}

.name {
  color: var(--white-2);
  font-size: 1.6rem;
  font-weight: var(--fw-600);
  margin-bottom: 12px;
}

.title {
  display: inline-block;
  background: var(--onyx);
  color: var(--white-2);
  padding: 8px 18px;
  border-radius: 12px;
  font-size: 0.8rem;
}

/*===================================
        DIVIDER
===================================*/

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  /* margin-top: 25px; */
}

/*===================================
        Sidebar-info-more
===================================*/
.sidebar-info-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
}

/*===================================
        CONTACTS
===================================*/

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-item {
  display: flex;
  gap: 10px;
  min-width: 0;
  transition: 0.3s;
}

.contact-item:hover {
  transform: translateX(5px);
}

.icon-box {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: var(--bg-gradient-onyx);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange-yellow-crayola);
  font-size: 22px;
  flex-shrink: 0;
}

.contact-info {
  flex: 1;
  min-width: 0;
}

.contact-title {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  margin-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.contact-link,
.contact-info time,
.contact-info address {
  color: var(--white-2);
  font-size: var(--fs-7);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-info address {
  font-style: normal;
}

/*===================================
        SOCIAL & RESUME
===================================*/

.social-list {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.social-link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--bg-gradient-onyx);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-gray);
  font-size: 22px;
  transition: 0.3s;
}

.social-link:hover {
  color: var(--orange-yellow-crayola);
  transform: translateY(-5px) scale(1.08);
}

.resume-down {
  border-radius: 14px;
  text-align: center;
  font-size: 1.2rem;
  padding: 8px 12px;
  background: var(--bg-gradient-onyx);
  transition: 0.3s;
}

.resume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--light-gray);
  transition: 0.3s;
}

.resume-down:hover {
  transform: translateY(-4px);
}

.resume-btn:hover {
  color: var(--orange-yellow-crayola);
}

/*===================================
        Hero-Section // Main
===================================*/

.main-content {
  position: relative;
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  min-height: 100vh;
  height: auto;
  box-shadow: var(--shadow-1);
  overflow: visible;
}

/*===================================
        NAVMENU BUTTON
===================================*/
.nav-more-btn {
  display: none;
}

/*===================================
        NAVBAR
===================================*/

.navbar {
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  height: 55px;
  border-radius: 0 20px;
  padding: 12px 15px;
  box-shadow: var(--shadow-1);

  background: var(--eerie-black-2);

  border-left: 1px solid var(--jet);
  border-bottom: 1px solid var(--jet);
  z-index: 999;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-link {
  position: relative;

  border: none;
  background: none;

  color: var(--light-gray);

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;

  height: 30px;
  padding: 10px 0px;

  border-radius: 8px;

  display: flex;
  align-items: center;

  transition: 0.3s;
}

.navbar-item {
  display: flex;

  align-items: center;
}
/*
.navbar-item:hover {
  background: var(--orange-yellow-crayola);
} */

.navbar-link:hover,
.navbar-link.active {
  color: var(--orange-yellow-crayola);
}

.navbar-link::after {
  content: "";

  position: absolute;

  left: 50%;
  bottom: -4px;

  transform: translateX(-50%);

  width: 0;
  height: 3px;

  background: var(--orange-yellow-crayola);

  border-radius: 20px;

  transition: 0.3s;
}

.navbar-link:hover::after,
.navbar-link.active::after {
  width: 100%;
}

/*===================================
        ARTICLE
===================================*/

article {
  padding: 25px 35px 35px;
}

/*===================================
        ARTICLE TITLE
===================================*/

.article-title {
  position: relative;
  font-size: 2rem;
  margin-bottom: 35px;
}

.article-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;

  width: 60px;
  height: 5px;

  border-radius: 10px;
  background: var(--orange-yellow-crayola);
}

/*===================================
        ABOUT TEXT
===================================*/

.about-text {
  max-width: 760px;

  color: var(--light-gray);

  line-height: 1.9;

  margin-bottom: 35px;
}

.about-text p {
  margin-bottom: 22px;

  font-size: var(--fs-6);
}

.about-text strong {
  color: var(--white-2);

  font-weight: var(--fw-600);
}

/*===================================
        QUICK INFO
===================================*/

.quick-info {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 15px;

  margin-bottom: 35px;
}

.info-box {
  display: flex;

  align-items: center;

  gap: 12px;

  padding: 15px 18px;

  border: 1px solid var(--jet);

  border-radius: 16px;

  background: var(--bg-gradient-onyx);

  transition: 0.3s ease;
}

.info-box:hover {
  transform: translateY(-4px);

  border-color: var(--orange-yellow-crayola);
}

.info-box ion-icon {
  color: var(--orange-yellow-crayola);

  font-size: 24px;
}

.info-box span {
  font-size: var(--fs-7);

  font-weight: var(--fw-500);
}

@media (max-width: 768px) {
  .quick-info {
    grid-template-columns: 1fr;
  }
}

/*===================================
        SERVICES
===================================*/

.service {
  margin-top: 0px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service-card {
  display: flex;
  gap: 20px;

  background: var(--bg-gradient-onyx);

  border: 1px solid var(--jet);

  border-radius: 18px;

  padding: 25px;

  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-icon {
  font-size: 2rem;
}

.service-card h4 {
  margin-bottom: 8px;
}

.service-card p {
  color: var(--light-gray);
  line-height: 1.6;
}

/*===================================
        RESPONSIVE DESIGN
===================================*/

/*--- ALL SCREENS UNDER 1024px (Tablet & Mobile Unified) ---*/
@media (max-width: 1080px) {
  .main {
    grid-template-columns: 1fr;
    margin: 0px auto;
    gap: 60px;
  }

  .sidebar {
    position: relative;
    width: 100%;
    /* height: max-content; */
    /* padding: 20px; */
    overflow: hidden;
    /* Ensures nothing spills out */
  }

  /* The Hidden Contact Area */
  .sidebar-info-more {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    margin: 0;
    padding: 0;
    transition:
      max-height 0.4s ease-in-out,
      opacity 0.4s ease-in-out,
      visibility 0.4s ease-in-out;
  }

  /* When JS adds the active class */
  .sidebar.active .sidebar-info-more {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    padding-top: 25px;
  }

  /* The Button */
  .info-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 20px 0 20px;
    padding: 10px 18px;
    background: linear-gradient(
      135deg,
      hsla(45, 100%, 72%, 0.2) 0%,
      hsla(45, 100%, 72%, 0) 50%
    );
    border: none;
    border-bottom: 1px solid var(--orange-yellow-crayola);
    border-left: 1px solid var(--orange-yellow-crayola);
    color: var(--orange-yellow-crayola);
    font-size: 13px;
    z-index: 999;
    cursor: pointer;
  }

  .info-more-btn span {
    display: block;
  }

  .info-more-btn ion-icon {
    transition: transform 0.3s ease;
  }
  .sidebar.active .info-more-btn ion-icon {
    transform: rotate(180deg);
  }

  /* Layout for the Top Profile Area */
  .sidebar-top-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 15px;
    width: calc(100% - 130px); /* Keeps text clear of the button */
  }

  .avatar-box {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
    border-radius: 16px;
    flex-shrink: 0;
  }

  .name {
    font-size: 1.4rem;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    display: inline-block;
  }

  /* Keep contacts in 2 columns just like the tablet */
  .contacts-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
  }
  /* navbar respondive ---------------------------------------------------------------------- */
  /* navbar more button  ---------------------------------------------------------------------- */
  .navbar {
    position: absolute;

    top: 35px;
    right: 0;

    width: 100%;
    height: auto;
    padding: 0;

    background: var(--eerie-black-2);

    border: 1px solid var(--jet);

    border-radius: 0 0 18px 18px;

    box-shadow: var(--shadow-2);

    max-height: 0;
    opacity: 0;

    overflow: hidden;

    pointer-events: none;

    transition: 0.35s ease;
  }

  /* .navbar.active {
    max-height: 500px;

    opacity: 1;

    pointer-events: auto;
  } */
  .nav-more-btn ion-icon {
    transition: 0.3s ease;
  }

  .nav-more-btn.active ion-icon {
    transform: rotate(180deg);
  }
  /* navbar respondive ---------------------------------------------------------------------- */

  .navbar.active {
    max-height: 400px;

    opacity: 1;

    pointer-events: auto;
    box-shadow: 0px 12px 5px rgb(0, 0, 0);
  }

  .navbar-list {
    display: flex;

    flex-direction: column;

    align-items: stretch;

    gap: 0;

    width: 100%;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-link {
    width: 100%;

    padding: 14px 20px;

    justify-content: flex-start;

    font-size: 15px;

    white-space: nowrap;
  }

  .navbar-link::after {
    display: none;
  }

  /*--- About -------------------------------------------------------------------------------------------------------- ---*/
  article {
    padding-bottom: 50px;
  }

  .service-list {
    grid-template-columns: 1fr;
  }
}

/*--- MEDIUM MOBILE (Under 580px) ---*/
@media (max-width: 580px) {
  .contacts-list {
    grid-template-columns: 1fr; /* Stack contacts to one column */
  }
  .info-more-btn span {
    display: none;
  }
}

/*--- TINY MOBILE (Under 380px) - FIXES THE TEXT WRAPPING ---*/
@media (max-width: 380px) {
  /* Hide the "Show Contacts" text to free up 80px of space */
  .info-more-btn span {
    display: none;
  }

  .info-more-btn {
    /* height: 22px;
    width: 45px; */
    padding: 10px 15px;
    border-radius: 0 20px 0 16px;
  }

  /* Expand the text area now that the button is smaller */
  .sidebar-top-info {
    width: calc(100% - 50px);
    gap: 10px;
  }

  /* Shrink avatar to save physical space */
  .avatar-box {
    width: 60px;
    height: 60px;
  }

  /* Shrink font slightly to ensure it fits on one line */
  .name {
    font-size: 1.05rem;
  }

  .title {
    font-size: 0.65rem;
    padding: 3px 10px;
  }

  /* --------------------------------------- nav bar -------------------------------------------- */

  .navbar {
    width: 100%;

    padding: 10px 12px;
  }

  .navbar-list {
    overflow-x: auto;

    gap: 18px;

    justify-content: flex-start;

    scrollbar-width: none;
  }

  .navbar-list::-webkit-scrollbar {
    display: none;
  }
}
